*{
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
/* Add a gray background color with some padding */
body {
    font-family: 'fontBlog';
    background: #f1f1f1;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: rgb(199, 123, 10);
}
.cleaner{
    clear: both;
}
img{
	vertical-align:bottom;
	max-width:100%;
}

/*-------> scrollbar <-------*/
/* width */
::-webkit-scrollbar {
    width: .5em;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px grey;
            box-shadow: inset 0 0 5px grey;
    border-radius: 20px;
    scrollbar-darkshadow-color: 0 0 10px #000;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:grey;
    border-radius: 20px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:grey;
    border-radius: 10px;
  }
